<div class="money-row">
  <label>
    <i class="fa fa-coins"></i> Money
  </label>
  <input
    name="data.details.money" 
    type="text"
    value="{{data.details.money}}"
    data-dtype="Number"
    placeholder="10"
  />
</div>

<div class="inventory-list">
  <div class="list-subheader">
    <div class="inventory-list-subheader-name with-divider">Inventory</div>
    <div class="list-subheader-column-name">Quantity</div>
    <a class="item-create add-carriable" title="Add Feature">
      <i class="fa fa-plus"></i>
      Add
    </a>
  </div>
  {{#each data.carriables as |carriable|}}
  <div class="item grid-row" data-item-id="{{carriable._id}}">
    <div class="item-list-icon" style="background-image: url({{carriable.img}})"></div>
    <a class="item-list-name">{{carriable.name}}</a>
    <div class="item-value">
      {{carriable.data.quantity}}
    </div>
    <div class="item-actions item-value">
      {{#if ../owner}}
      <div class="item-controls">
        <a class="item-control edit-item" title='Edit'>
          <i class="fas fa-edit"></i>
        </a>
        <a class="item-control delete-item" title='Delete'>
          <i class="fas fa-trash"></i>
        </a>
      </div>
      {{/if}}
    </div>
  </div>
  {{/each}}
</div>