<div class="options-list-header">
  General
</div>
<div class="form-group">
  <label>HP Maximum Bonus</label>
  <div class="form-fields">
    <input
    name="data.stats.hp.hpMaxBonus" 
    type="text"
    value="{{data.stats.hp.hpMaxBonus}}"
    data-dtype="Number"
    placeholder="0"
  />
  </div>
</div>

<div class="options-list-header">
  Stat Modifiers
</div>
{{#each data.stats as |stat id|}}
<div class="form-group">
  <label>{{stat.fullName}} Modifier Bonus</label>
  <div class="form-fields">
    <input
    name="data.stats.{{id}}.bonus" 
    type="text"
    value="{{stat.bonus}}"
    data-dtype="Number"
    placeholder="0"
  />
  </div>
</div>
{{/each}}
